@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.25);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.4);
}
::-webkit-scrollbar-track {
  background: transparent;
}

input[type="range"] {
  accent-color: #0ea5e9;
}
